<div class="main-rh-second-section-container-destination">
    <div class="main-rh-second-section-container-destination-img">
        <img src="{{imageUrl}}" alt="{{name}}">
    </div>
    <h1 class="main-rh-second-section-container-destination-title">{{name}}</h1>
    <div class="main-rh-second-section-container-destination-info">
        <div class="main-rh-second-section-container-destination-info-stuff">
            <p>Includes: {{amenities}}</p>
            <p>Rooms: 4</p> 
            {{!-- fix the above to {{rooms}} --}}
            <p>Payment: At hotel</p>
            <p>Guests: </p> 
            {{!-- We need guest number above --}}
        </div>
        <div class="main-rh-second-section-container-destination-info-price">
            <h1>{{price}}$</h1>
            <h3>Price</h1>
        </div>
    </div>
</div>