                <div class="main-rh-third-section-container-destination main-pf-div-info-card">
                    <div class="main-rh-third-section-container-destination-img">
                        <img src="{{imageUrl}}" alt="{{name}}">
                    </div>
                    <div class="main-rh-third-section-container-destination-info destination-card">
                        <h1>{{name}}</h1>
                        <div class="main-rh-third-section-container-destination-info-stuff">
                            <p>{{amenities}}</p>
                            <p>Guest Capacity: {{guestCapacity}}</p>
                        </div>
                    </div>
                    <div class="main-rh-third-section-container-destination-info-price">
                        <h1>${{price}}</h1>
                        <h3>Price</h1>
                    </div>
                </div>