<div class="main-rh-third-section-container-destination">
    <div class="main-rh-third-section-container-destination-img">
        <img src="{{imageUrl}}" alt="{{name}}">
    </div>
    <div class="main-rh-third-section-container-destination-info destination-card">
        <h1>{{name}}</h1>
        <div class="main-rh-third-section-container-destination-info-stuff">
            <p>Includes: {{amenities}}</p>
            <p>Payment: Online / At hotel</p>
        </div>
    </div>
    <div class="main-rh-third-section-container-destination-info-price">
        <h1>${{price}}</h1>
        <h3>Price</h1>
    </div>
    <div class="main-rh-third-section-container-destination-learn-more">
        <button id="btn" class="main-rh-third-section-container-destination-learn-more-btn" onclick="toggle()">Show
            details</button>
        <p id="extra" style="display:none;">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Obcaecati, beatae,
            natus ad omnis
            numquam quod unde ullam cumque quos adipisci earum sed molestias temporibus doloremque
            porro! Soluta aliquam praesentium commodi!</p>
    </div>
</div>